body {
    background-color: dimgrey;
    font-family: 'Roboto',sans-serif;
	font-size: 16px;
	line-height: 24px;
	margin: 0;
}

}
header {
	margin-bottom: 10px;
	border-bottom: 1px solid #000000;
	padding-top: 10px;
	padding-bottom: 20px;
	text-align: center;
    background-color: white
}
h1   {
    color: white;
    font-size: 35px;
}
h2   {
    color: white;
    font-size: 30px;
}
h3   {
    color: white;
    font-size: 30px;
}
h4   {
    color: white;
    font-size: 30px;
}
p    {
    color: white;
    margin-bottom: 30px;
	line-height: 40px;
    font-size: 20px;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}
p1  {
    color: white;
    margin-bottom: 30px;
    line-height: 40px;
    font-size: 20px;
    border-top: 10px;
    border-bottom:10px;
}
nav {
	margin-bottom: 10px;
	text-align: center;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
nav li {
	display: inline;
}
nav a {
	font-size: 25px;
	color: whitesmoke;
	padding: 10px;
	display: inline-block;
    margin-bottom: 10px;
}
nav a:hover {
	color: #13aad7;
	text-decoration: none;
}
nav a:active {
  color: #13aad7;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
li {
border-left: 1px solid dimgrey;
    color: white;


}
img {
  display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 90%;
	border: 64px;
	height: auto;
    border-color: black;

}

img-left {
	float: left;
	margin-right: 15px;
}
img-right {
	float: right;
	margin-left: 15px;
}

.border {
    border-width: 5px;
    border-color: black;
    border-style: solid;
}

#logo{
      text-align: center;
      display: block;
      max-width: 100%;
      height: auto;
}

Read more: https://html.com/attributes/img-border/#ixzz63uTlkEu1
li {
border-left: 1px solid dimgrey;


}
main {
	width: 70%;
	display: block;
	margin-right: auto;
	margin-left: auto;
}
#outer {
			width: 90%;
			max-width: 800px;
			margin-left: auto;
			margin-right: auto;
			background-color: #484848;
			padding: 16px;
}
figure {
  align: right;
}
figcaption {
  display: block;
  color: white;
  text-align: center;
}
